<nav class="navigation">
  <a href="/" class="navigation__home__link">Floema</a>

  <ul class="navigation__wrapper">
    <li class="navigation__list__item">
      <a class="navigation__list__link" href="/about">About</a>
    </li>

    <li class="navigation__list__item">
      <a class="navigation__list__link" href="/collections">Collections</a>
    </li>
  </ul>
</nav>